<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <%= form_with model: menu do |form| %>
        <% if menu.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

            <ul>
              <% menu.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :content %>
          <%= form.text_area :content, class: 'form-control' %>
        </div>

        <div class="details">
          <%# トラックの追加フォームをするボタン %>
          <%# 詳しいオプション : https://github.com/nathanvda/cocoon#link_to_add_association %>
          <%= link_to_add_association 'トラックの追加',
                                      # form_withのformタグ変数
                                      form,
                                      # フォームのデータを追加するモデル名
                                      :works,
                                      # 追加するフォームの部分テンプレート
                                      partial: "work_fields",
                                      # オプション
                                      data: {
                                        # フォームを追加する場所の指定
                                        association_insertion_node: '#work-forms',
                                        # フォームを前後どの位置に追加するか。(初期値: before)
                                        association_insertion_method: 'before'
                                      },
                                      # フォームオブジェクトを指定する場合(初期値 : f)
                                      form_name: 'work',
                                      # 部分テンプレートに渡す変数があれば記述
                                      render_options: {
                                        locals: {
                                          # 通常の部分テンプレートと同じ記述
                                        }
                                      }
          %>
        
          <hr>
        
          <%# フォームを追加する場所。%>
          <%#   link_to_add_associationのassociation_insertion_nodeで指定 %>
          <div id="work-forms">
            <%= form.fields_for :works do |work| %>
              <% render 'work_fields', work: work %>
            <% end %>
          </div>
        </div>

        <div class="actions">
          <%= form.submit (t 'defaults.register'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>