<div class="col-sm-6 col-md-4 col-lg-3 mb-3">
  <div id="menu-id-<%= menu.id %>">
    <div class="card">
      <%= link_to edit_menu_path(menu.id) do %>
        <%= image_tag menu.thumbnail.url, class: 'card-img-top', size: '300x200' %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to menu_path(menu.id) do %>
            <%= menu.title %>
          <% end %>
        </h5>
        <% if menu.user == current_user %>
          <div class='float-end'>
            <%= link_to edit_menu_path(menu.id) do %>
              <i class="fa-solid fa-pen" style="color: #1e2471;"></i>
            <% end %>
            <%= link_to menu_path(menu.id), method: :delete, data: { confirm: "本当に削除しますか？" } do %>
              <i class="fa-solid fa-trash" style="color: #1e2471;"></i>
            <% end %>
          </div>
        <% end %>
        <ul class="list-inline">
          <li class="list-inline-item">
            <i class="fa-solid fa-user" style="color: #1e2471;"></i>
            <%= menu.user.name %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>