<div class="container pt-3">
  <div class="row justify-content-center">
    <div class="col-8 offset-1">
      <!-- 検索フォーム -->
      <%= render 'search', url: menus_path %>
    </div>
    <div class="dropdown col-auto">
      <button class="btn btn-secondary dropdown-toggle float-end mb-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        ソート
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><%= link_to '新着', root_path, class: "dropdown-item" %></li>
        <li><%= link_to 'お気に入り数', root_path(sort: 'fav'), class: "dropdown-item" %></li>
      </ul>
    </div>
  </div>

  <!-- メニュー一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center gx-4">
        <% if @menus.present? %>
          <%= render @menus %>
        <% else %>
          <p>メニューがありません</p>
        <% end %>
      </div>
      <div class="d-flex justify-content-center">
        <%= paginate @menus %>
      </div>
    </div>
  </div>
</div>