<div class="container">
  <div class="row mt-5">
    <div class="col row justify-content-start">
      <h3 class="col-auto">
        <%= @menu.title %>
      </h3>
      <h5 class="col-auto mt-1">
        <% if current_user&.decorate&.own?(@menu) %>
          <%= render 'crud_menu', menu: @menu %>
        <% else %>
          <%= render 'favorite_button', menu: @menu %>
        <% end %>
      </h5>
    </div>
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-outline-success">トレーニング開始</button>
    </div>
    <p class="mt-4 mb-4">
      <strong>解説：</strong>
      <%= @menu.content %>
    </p>
    <div class="row justify-content-center">
      <div class="col-10 col-lg-6">
        <%= render partial: 'work', collection: @works %>
      </div>
    </div>
  </div>

  <!-- コメントフォーム -->
  <%= render 'comments/form', { menu: @menu, comment: @comment } %>

  <!-- コメントエリア -->
  <%= render 'comments/comments', { menu: @menu, comments: @comments } %>
</div>
