<div class="container">
  <div class="row mt-5">
    <div class="col row justify-content-start">
      <%= render 'timer_set' %>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 col-lg-6">
        <%= render partial: 'work', collection: @menu.works %>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="work_count" value="<%= @menu.works.count %>">
<%= audio_tag "decision1.mp3", id: "sound-file-decision1" %>
<%= audio_tag "decision4.mp3", id: "sound-file-decision4" %>
<%= javascript_pack_tag 'timer' %>